.ItemCard {
	background:  whitesmoke;
	box-shadow:  0 1px 3px rgba(0,0,0,0,0.12), 0 1px 2px rgba(0,0,0,0,0.24);
	transition:  all 0.3s cubic-bezier(.25,.8,.25,1);
	width:  30%;
	display:  inline-block;
	margin-bottom: 1.5%;
	margin-left: 1.5%;

}

.ItemCard:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}